.Rproj.user
.Rhistory
.Rprofile
.RData*
.Ruserdata
*.Rproj
*.trees
**/~$*
*/RcppExports.*
revdep/
src-*
src/*.o
src/*.so
src/*.dll
vignettes/*.html
vignettes/*.knit.md
vignettes/*.pdf
vignettes/*.utf8.md
vignettes/*_files
tests/testthat/Rplots.pdf
docs/
doc
Meta
*.bak
