.Rproj.user
.Rhistory
.Rprofile
.RData*
.Ruserdata
*.Rproj
*.trees
**/~$*
*/RcppExports.*
revdep/
src-*
src/*.o
src/*.so
src/*.dll
vignettes/*.html
vignettes/*.pdf
vignettes/*_files
tests/testthat/Rplots.pdf
docs/
doc
Meta
