on:
  push:
    branches:
      - main
      - master
    paths:
      - 'DESCRIPTION'
      - '**pkgdown.yml'
      - '*.md'
      - 'inst/CITATION'
      - 'inst/*.bib'
      - 'man/**.Rd'
      - 'vignettes/**.Rmd'

name: pkgdown
 
jobs:
  pkgdown:
    runs-on: ubuntu-latest
    
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      
      - uses: actions/checkout@v5    
        with:
          submodules: true
      
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          extra-repositories: ${{ inputs.extra-repositories }}
          
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 4826426 # = ms609/actions/pkgdown
          extra-packages: local::., any::pkgdown
          needs: website
          
      - name: Prepare Shinylive Asset
        run: |
          dir.create("inst/pkgdown/assets/shiny", recursive = TRUE)
          shinylive::export("inst/TernaryApp", "inst/pkgdown/assets/shiny")
        shell: Rscript {0}
    
      - uses: ms609/actions/pkgdown@main
